
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
body {
 color: #151c2c ;
}

a {
  color: inherit;
  text-decoration: none;
}


.css-cveggr-MuiListItemIcon-root{
  color: #fff !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  padding: 5px 15px !important;

}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #151c2c;
}
.css-1wvv5rz-MuiPaper-root-MuiCard-root ,
.css-ycsyxj-MuiPaper-root-MuiCard-root {
  background-color: #182237;
  color: #fff !important;
 
}
.css-1wvv5rz-MuiPaper-root-MuiCard-root :hover,.css-ouvfa7-MuiPaper-root-MuiCard-root :hover ,.css-ycsyxj-MuiPaper-root-MuiCard-root :hover{
  background-color: #2a354c;
}

.css-1u0lry5-MuiChartsLegend-root{
  margin-left: 20px !important;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-color: #182237;
}
.css-1ygcj2i-MuiTableCell-root,
.css-1azl6jz-MuiTableCell-root,
.css-tg5hq2-MuiTableRow-root, 
.css-1ex1afd-MuiTableCell-root,
.css-177gid-MuiTableCell-root
{
  color:#fff;
  border: none;
}
 
@media only screen and (max-width: 600px) {
  .css-1yywndc-JoyTable-root{
    width: auto;
    
   }
}
.css-1yywndc-JoyTable-root th {
  color: #fff;
}
 .css-kfjikf-JoySheet-root {
  color: #fff;
 }
 .css-3fgtsr-MuiInputBase-root-MuiInput-root,
 .css-1q7k0vd-JoyAutocomplete-root {
  color:#fff;
  background-color: #182237;
  padding: 10px;
  border: none;
  border-radius: 10px;
 }
 .css-3fgtsr-MuiInputBase-root-MuiInput-root{
  border-bottom: none;
 }
.css-u4tvz2-MuiFormLabel-root , 
.css-1x51dt5-MuiInputBase-input-MuiInput-input 
{
  width: 80%;
  color: #fff;
  border-color: #fff;
}
 #logoutBtn:hover{
 background-color: #151c2c !important;
 }
 .css-y8ay40-MuiTableCell-root,
 .css-i02g0k-MuiTableCell-root,
 .css-177gid-MuiTableCell-root ,
 .css-1ex1afd-MuiTableCell-root 
 {
  background-color: #182237 !important;
  color: #fff !important;
 }
 